html {
    height: 100%;
    width: 100%;
}

canvas {
    position:relative;
    border: 1px solid black;
    height: 30rem;
    width: 40rem;
    
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    
}

.outside_text {
    position: relative;
}
